# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log
logs/

# Docker
docker-compose.override.yml
key
key.pub